.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-table {
  border-collapse: collapse;
}

.user-table tr {
  text-align: center;
  border: 1px solid #dddddd;
}

.user-table th,
.user-table td {
  text-align: left;
  padding: 8px;
}

.add-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
